# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
.tmp
*.log

# IntelliJ Based Files
/.idea/

node_modules

# Other
modules/create-dmg
