[submodule "resources/modules/pico"]
	path = resources/modules/pico
	url = https://github.com/picocss/pico.git
[submodule "resources/modules/ttbl-cli"]
	path = resources/modules/ttbl-cli
	url = https://github.com/gaoDean/ttbl-cli.git
