
article {
	padding-top: calc(var(--spacing)) !important;
	padding-bottom: calc(var(--spacing)/2) !important;
	margin-top: var(--spacing) !important;
	margin-bottom: var(--spacing) !important;
}

hgroup {
	margin: 0px !important;
}
