body {
	scrollbar-width: none;
}

article {
	padding-top: calc(var(--spacing)) !important;
	padding-bottom: calc(var(--spacing)/2) !important;
	margin-top: var(--spacing) !important;
	margin-bottom: var(--spacing) !important;
}

hgroup {
	margin: 0px !important;
}

.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  opacity: 0.6;
}
.titlebar-button:hover {
	opacity: 1;
}
